@import "src/colores";

section {
    table {
        width: 100%;
        
        td, th {
            padding: 0 1em !important;
            font-size: .9em !important;
        }
        
        th { height: 40px; }
        td { height: 35px; }    
        
        thead {
            tr {
                background-color: #fff;
            }
            th {
                color: #222;
                font-weight: 600;
                padding: 1.2em 1em;
                text-transform: uppercase;
            }
        }
        tbody {
            tr, td {
                padding-left: 0;
                text-align: left;
                padding: 1.2em 1em;
                border-bottom: 1px solid $gris-100;
            }
        }
    }
}